AIMS_DB_DRIVER=pgsql
AIMS_DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
AIMS_DB_PORT=5432
AIMS_DB_NAME=postgres
AIMS_DB_USER=postgres.yifpferiexemkghcipze
AIMS_DB_PASS=replace-with-your-supabase-database-password
AIMS_TOKEN_TTL_HOURS=12
